langchain>=0.0.188
openai
chromadb
tiktoken
requests
python-dateutil
google-cloud-bigquery
google-cloud-pubsub
google-auth
flask
google-cloud-storage
unstructured[local-inference]
tabulate
pdf2image
pytesseract
supabase
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
google-cloud-aiplatform
google-generativeai
